<div id= "svg-draw" ng-class="{'showRightSide': vm.equipments.length}">
    <div class="left-side">
        <div nestable-tree nestable-option="vm.nestableOption"></div>
    </div>
    <div id="svg">
        <div class="show-left-side" ng-click="vm.toggleLeft()">
            <i class="glyphicon glyphicon-triangle-left"></i>
        </div>
        <div class="show-right-side" ng-click="vm.toggleRight()">
            <i class="glyphicon glyphicon-triangle-right"></i>
        </div>
    </div>
    <div class="right-side">
        <div ng-repeat="equipmentDtail in vm.equipments" class="equipment-item">
            <span class="delete glyphicon glyphicon-remove-sign" ng-click="vm.delete($index)"></span>
            <div class="row">
                <label class="col-sm-3 control-label">名称</label>
                <div class="col-sm-9">{{equipmentDtail.name}}</div>
            </div>
            <div class="row">
                <label class="col-sm-3 control-label">状态</label>
                <div class="col-sm-9">{{equipmentDtail.value}}</div>
            </div>
            <div class="row" ng-if="equipmentDtail.videoSrc">
                <label class="col-sm-3 control-label">视频</label>
                <div class="col-sm-9">
                    <video controls autoplay>
                        <source ng-src="{{equipmentDtail.videoSrc}}" type="video/ogg">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
