<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="clear navbar-minimalize-bg minimaliza-sidebar-box">
    <span minimaliza-sidebar></span>
  </div>
  <div class="sidebar-collapse">
    <ul side-navigation class="nav metismenu">
      <li ng-repeat="node in menuTree" ng-class="{in: $state.includes('user.')}" ng-include="'nav-second-level.html'">
      </li>
    </ul>
  </div>
</nav>
<script type="text/ng-template" id="nav-second-level.html">
  <a href="#" ng-if="node.children.length"><i class="{{node.icon}}"></i>{{node.title}}<span class="fa arrow"></span></a>
  <a ui-sref="{{node.state}}" ng-show="!node.children.length">{{node.title}}</a>
  <ul class="nav nav-second-level collapse" ng-if="node.children.length">
    <li ng-repeat="node in node.children" ng-include="'nav-second-level.html'">
    </li>
  </ul>
</script>
