<div class="row">
    <nav class="navbar navbar-static-top blue-bg m-n" role="navigation">
        <div class="navbar-header">
            <span class="small-minimaliza-sidebar-box" minimaliza-sidebar></span>
            <span class="m-l-xl l-h-l fontSize-max">拓客营销平台</sapn>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    </nav>
</div>