<div>
    <div style="width: 60%; margin: 0 auto;">
        <table class="table table-bordered">
            <tr>
                <td>门禁设备名称</td>
                <td>设备aaaaaaaaaa</td>
            </tr>
            <tr>
                <td>门禁设备类型</td>
                <td>类型1</td>
            </tr>
            <tr>
                <td>设备编码</td>
                <td>abcdefg1111111</td>
            </tr>
            <tr>
                <td>位置</td>
                <td><a><span ng-click="">点击查看</span></a></td>
            </tr>
            <tr>
                <td>设备状态</td>
                <td>正常</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="width: 10%; margin: 0 auto;">
        <button type="button" class="btn btn-default center-block btn-block" ng-click="vm.next()">返回列表</button>
    </div>
</div>
<div ui-view></div>