<div class="ibox-title col-sm-12 no-top-border">
    <form class="form-inline m-t-md">
        <div class="form-group m-r-md">
            门禁设备名称
            <input type="email" class="form-control" name="name" id="inputEmail" placeholder="请输入设备名称" ng-model="vm.email">
        </div>
        <div class="form-group m-r-md">
            设备编码
            <input type="email" class="form-control" name="number" id="inputEmail" placeholder="请输入设备编码" ng-model="vm.email">
        </div>
        <div class="form-group m-r-md">
            门禁设备类型
            <select class="chosen-select form-control">
                <option>全部类型</option>
                <option>类型1</option>
                <option>类型2</option>
                <option>类型3</option>
                <option>类型4</option>
                <option>类型5</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default m-r-sm">查询</button>
    </form>
</div>
<div class="ibox-content">
    <table class="footable table table-hover table-striped fontSize-sm" data-page-size="20">
        <thead>
        <tr>
            <th data-toggle="true">门禁设备名称</th>
            <th data-toggle="true">门禁设备类型</th>
            <th data-toggle="true">编码</th>
            <th data-sort-ignore="true">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a><span ng-click="vm.cardHistory()">设备1</span></a></td>
            <td>类型1</td>
            <td>abcedfg1111111111</td>
            <td><a href=""><span ng-click="vm.detail()">详情</span></a>|<a><span ng-click="vm.delete()">删除</span></a>|<a><span ng-click="vm.playVideo()">播放视频</span></a>
            </td>
        </tr>
        <tr>
            <td>设备2</td>
            <td>类型2</td>
            <td>hijklmn22222222222</td>
            <td>详情|删除|播放视频</td>
        </tr>
        <tr>
            <td>设备3</td>
            <td>类型3</td>
            <td>opqrstu33333333333</td>
            <td>详情|删除|播放视频</td>
        </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
<div ui-view></div>