<div>
    <div style="width: 60%; margin: 0 auto;">
        <table class="table table-bordered">
            <tr>
                <td>建筑模型名称</td>
                <td>模型aaaaaaaaaa</td>
            </tr>
            <tr>
                <td>位置</td>
                <td>位置1&nbsp;&nbsp;<a><span ng-click="">查看</span></a></td>
            </tr>
            <tr>
                <td>说明</td>
                <td>说明1111</td>
            </tr>
            <tr>
                <td>区域</td>
                <td>区域11111</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="width: 10%; margin: 0 auto;">
        <button type="button" class="btn btn-default center-block btn-block" ng-click="vm.next()">返回列表</button>
    </div>
</div>
<div ui-view></div>