<div>
    <div style="width: 50%; margin: 0 auto;">
        <form class="form-horizontal" name="loginForm">
            <div class="form-group">
                <label for="inputEmail" class="control-label col-sm-3">原密码</label>
                <div class="col-sm-9">
                    <input type="field1" class="form-control" name="field1" id="inputEmail" placeholder="原密码" ng-model="vm.email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="control-label col-sm-3">新密码</label>
                <div class="col-sm-9">
                    <input type="field2" class="form-control" name="field2" id="inputEmail" placeholder="新密码" ng-model="vm.email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="control-label col-sm-3">新密码确认</label>
                <div class="col-sm-9">
                    <input type="field3" class="form-control" name="field3" id="inputEmail" placeholder="新密码确认" ng-model="vm.email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-6 col-sm-2">
                    <button type="button" class="btn btn-default center-block btn-block" ng-click="vm.logIn()">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>